<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> login </h1>

    
    <form name="myForm" action="doLogin" onsubmit="return validateForm()" method="post">
       
        id :  <input type="text" name="id"><br/>
        pw : <input type="text" name="password"></br>
        <button type="submit">입력</button>
    </form>
    
</body>
<script>

    function validateForm() {
      let id = document.forms["myForm"]["id"].value;
      let password = document.forms["myForm"]["password"].value;
      if (id == "") {
        alert("id must be filled out");
        return false;
      }
      if (password == "") {
        alert("password must be filled out");
        return false;
      }
      
       form.submit();
    }
        
        
        
    </script>
</html>