<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>fewfw</h1>

   

    <form name="myForm" action="doPosting" onsubmit="return validateForm()" method="post">
       
        userName :  <input type="text" name="userName">
        tempColumn : <input type="text" name="tempColumn">
        <button type="submit">입력</button>
    </form>
    
    
    
</body>
<script>

function validateForm() {
  let userName = document.forms["myForm"]["userName"].value;
  let tempColumn = document.forms["myForm"]["tempColumn"].value;
  if (userName == "") {
    alert("Name must be filled out");
    return false;
  }
  if (tempColumn == "") {
    alert("tempColumn must be filled out");
    return false;
  }
  
   form.submit();
}
    
    
       



</script>


</html>